@import "../../style/color";

.fbReferenceUpload {
  margin-top: 20px;

  .configContainer {
    margin-bottom: 20px;
  }

  .fbBtnContainer {
    margin-bottom: 23px;
  }

  .leftPanel {
    border-right: $coldGreyLight solid thin;
  }

  .pageName {
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    color: $coldGrey;
  }
}
