$coldGrey: #9E9E9E;
$coldGreyLight: rgba(158, 158, 158, 0.51);
$coldGreyLightDeep: rgba(158, 158, 158, 0.16);
$vividCerulean: #03A9F4;
$sasquatchSocks: #FF4081;
$approvalGreen: #009688;
$biscay: #2f3b54;
$gruyereCheese: rgba(245, 222, 179, 0.36);
$vitalize: #28a745;
$azure: #007bff;
$cruelRuby: #dc3545;
