@import "../../style/color";

.accountComponent {

  img{
    margin-bottom: 0;
    border-radius: 15px;
  }

  .pageItem {
    border: $coldGreyLight thin solid;
    border-radius: 15px;
    background: $coldGreyLightDeep;
    padding: 5px;
    cursor: pointer;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 230px;

    &:hover {
      border-color: $vividCerulean;
    }

    &.selected {
      background: $vividCerulean;
      .pageName {
        color: white;
      }
    }

    .pageName {
      font-size: 15px;
    }


  }
}
